body {
  background: white; /* Make it white if you need */
  margin: 0;
  height: 100vh;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  color: #72a24d;
}

.pagination-btns {
  width: 100%;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-tile {
  padding: 4px 10px;
  background: white;
  margin-bottom: 10px;
  box-shadow: 0  0 2px  rgba(0, 0, 0, 0.8);
}

.list-tile h3 {
  margin: 0;
  color: black;
}